h1 {
  font-family: "Lato";
  text-align: center;
}
h2 {
  font-family: "Lato";
  padding: 10px;
  margin: 10px;
}
h3 {
  font-family: "Lato";
  padding: 10px;
  margin: 10px;
}
body {
  background-color: #e5ebf7;
}
p {
  font-family: "Gothic A1";
  padding: 10px;
  margin: 10px;
}
a {
  font-family: "Gothic A1";
  padding: 10px;
  margin: 10px;
}
#goodteeth {
  width: 40%;
  object-fit: contain;
}
.sketch {
  transform: rotate(90deg);
  margin: 20px;
}
img {
  width: 30%;
  object-fit: contain;
}
#image-holder {
  display: flex;
  flex-direction: row;
}
.low-fidelity {
  width: 60%;
  margin: 20px;
}
#low-fid-wireframes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#columns {
  display: flex;
  flex-direction: row-reverse;
}
ul.circle {
    list-style-type: circle;
    font-family: "Gothic A1";
    line-height: 1.5;
}